<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="kashka.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
		<add name="connection" connectionString="Server=LENOVO;Database=MyDB;TrustServerCertificate=True;MultipleActiveResultSets=true;Encrypt=True;" />
		<add name="DBConnection" connectionString="Server=130.185.75.230,49878;Database=AJTAM;User Id=TadbirUser;Password=$$$%%%;Connection Timeout=20;TrustServerCertificate=True;MultipleActiveResultSets=true;Encrypt=True;"/>
		<add name="SysConnection" connectionString="Server=130.185.75.230,49878;Database=__Sys__;User Id=TadbirUser;Password=$$$%%%;Connection Timeout=20;TrustServerCertificate=True;MultipleActiveResultSets=true;Encrypt=True;"/>
	</connectionStrings>
 <userSettings>
  <kashka.Properties.Settings>
   <setting name="WorkSpaceId" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="WorkSpaceName" serializeAs="String">
    <value />
   </setting>
   <setting name="WorkSpaceEnName" serializeAs="String">
    <value />
   </setting>
   <setting name="FiscalPeriodName" serializeAs="String">
    <value />
   </setting>
   <setting name="FiscalPeriodId" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="StockRoomName" serializeAs="String">
    <value />
   </setting>
   <setting name="StockRoomId" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ShowDetails" serializeAs="String">
    <value>False</value>
   </setting>
  </kashka.Properties.Settings>
 </userSettings>
</configuration>