<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connection" connectionString="Server=LENOVO;Database=MyDB;TrustServerCertificate=True;MultipleActiveResultSets=true;Encrypt=True;" />
		<add name="DBConnection" connectionString="Server=130.185.75.230,49878;Database=AJTAM;User Id=TadbirUser;Password=$$$%%%;Connection Timeout=20;TrustServerCertificate=True;MultipleActiveResultSets=true;Encrypt=True;"/>
		<add name="SysConnection" connectionString="Server=130.185.75.230,49878;Database=__Sys__;User Id=TadbirUser;Password=$$$%%%;Connection Timeout=20;TrustServerCertificate=True;MultipleActiveResultSets=true;Encrypt=True;"/>
	</connectionStrings>
</configuration>